li{
    list-style-type:none;
  }
  .header{
    display: flex;
  }
  .item{
    /* margin-left:30px; */
  }
  .burger{
    display:none;
  }
  @media (min-width: 768px) and (max-width: 980px) {
    .burger{
          display:block;
    }
    .header{
        display: none;
        background-color: red;
        width:100px; 
    }
  }