* {
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
}

.container {
	width: 1280px;
	margin: 0 auto;
	box-sizing: border-box;
}

.nav {
	/* padding: 0 1.2em; */
	padding-block: 1.2em;
	margin-bottom: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__title {
	font-size: 36px;
	text-transform: uppercase;
}

.burger {
}

.burger__line {
	width: 20px;
	height: 4px;
	background-color: #000;
}

.burger__line:not(:last-child) {
	margin-bottom: 3px;
}

.hero {
	color: #2f2f2f;
    max-width: 360px;
}

.hero__title {
	font-size: 66px;
	line-height: 68px;
    margin-bottom: 20px;
}

.hero__text {
    margin-bottom: 20px;
	font-size: 18px;
	line-height: 26px;
}

.hero__button {
	font-size: 18px;
	line-height: 26px;
	padding: 1em 2.3em;
	background: #131255;
	border-radius: 6px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
}

.info__img {
    display: flex;
    justify-content: space-between;
}