.header{
    background-color: gray ;
    display: flex;
    justify-content: space-between;
}

.card-grid {
    display: flex;
    border: 2px solid brown;
    background-color: olive;
}

.card-list, .card-details {
    border: 2px dashed red;
    width: 50%;
}

.card-list h2, .card-details h2 {
    text-align: center;
}