*{
    margin: 0;
    padding: 0;
}
.header{
    &__nav-bar{
        display: flex;
        justify-content: center;
        margin-top: 45px;
        &__items{
            font-family: 'Roboto';
            font-size: 11px;
            color: #4E4E4E;

        }
        &__items:nth-last-child(-n+6){
            margin-left: 68px;
        }
    }
}
li{
    list-style-type: none;
}