*{
    margin: 0;
    padding: 0;
}
.main{
    
    &__title{
        font-family: 'Roboto' , sans-serif;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: bold;
        margin-top: 66px;
    }
    &__album{
        display: flex;
        flex-wrap: wrap;
    }
    &__wrapper{
        display: flex;
        margin-top: 24px;
        &__title{
            font-family: 'Roboto' , sans-serif;
            font-weight: bold;
            font-size: 14px;
        }
        &__mini-text{
            font-family: 'Roboto';
            font-size: 12px;
            color:  #7C7C7C;
            margin-top: 10px;

        }
        &__big-text{
            font-family: 'Roboto' , sans-serif;
            width: 404px;
            font-size: 14px;
            margin-top: 13px;
            color:  #5C5C5C;
            font-weight: bold;
        }
        &__items{
            margin-left: 20px;
        }
    }
}