*{
    margin: 0;
    padding: 0;
}
.footer {
    background-color: #000000;
    &__title{
        color: #fff;
        font-family: "Roboto";
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase;
        text-align: center;
        padding-top: 66px;
    }
    &__big-text{
        font-family: 'Roboto';
        font-size: 16px;
        color:  #B9B9B9;
        margin-top: 22px;
        text-align: center;
    }
    &__img{
        margin: 10px auto 20px;
        margin-top: 51px;
        display: block;
    }
    &__mini-text{
        font-family: 'Roboto';
        text-align: center;
        color:  #B9B9B9;
        margin-top: 34px;
        padding-bottom: 70px;
    }
}